<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>86026453658-hkmpqtir3e4htoic6hnmji0pb1jfl0ah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86026453658-hkmpqtir3e4htoic6hnmji0pb1jfl0ah</string>
	<key>API_KEY</key>
	<string>AIzaSyDmk1bvD-57B0hwx3Cs0mibSAfg-PClEGk</string>
	<key>GCM_SENDER_ID</key>
	<string>86026453658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lazymining.app</string>
	<key>PROJECT_ID</key>
	<string>lazy-mining</string>
	<key>STORAGE_BUCKET</key>
	<string>lazy-mining.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:86026453658:ios:93c77199d6c4d51e</string>
	<key>DATABASE_URL</key>
	<string>https://lazy-mining.firebaseio.com</string>
</dict>
</plist>